.sns {
  padding: 20px 0;
  background: $theme-pink;
  background: linear-gradient(45deg, $theme-pink 0%, $sub-theme-pink 100%);
  color: white;
  .sns-button {
    background: white;
    color: $black;
    border: none;
    border-radius: 50px;
    padding: 12px 52px;
    margin: 0 8px;
    margin-bottom: 16px;
    display: inline-block; 
    cursor: pointer;
    transition: .2s $bezier-ease-out;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px $shadow-blue;
    }
    .sns-icon {
      display: inline-block;  
      height: 3rem;
      width: 3.5rem;
      vertical-align: bottom;
    }
    p {
      display: inline-block;
      font-size: 2rem;
      margin: 0;
      padding: 2px;
      vertical-align: 4px;
    }
  }
  .button-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .button-tag {
    .sns-button {
      .sns-icon {
        height: 2.5rem;
        width: 2.8rem;
        padding-bottom: .4rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
    span {
      color: $official-twitter-text;
    }
  }
  .txt {
    font-size: 1.8rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    p.intxt {
      display: inline-block;
    }
  }
}
@media(max-width: 620px){
  .sns {
    .sns-button {
      width: 50%;
    }
    .button-wrapper {
      flex-wrap: wrap;
    }
  }
}
@media(max-width: 430px){
  .sns {
    .sns-button {
      width: 60%;
      padding: 12px 32px;
    }
    .txt {
      flex-wrap: wrap;
      margin: 20px;
      p.intxt {
        display: block;
        margin: 0;
      }
    }
  }
}